<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
    <title>NYC Bathrooms App</title>
</head>
<body>
  <h1>NYC Bathrooms App</h1>
  <a href="/bathrooms">All Bathrooms</a>
  <a href="/bathrooms/new">New Bathrooms</a>
</nav>
<img id="img" src="https://i.imgur.com/qz0lDaG.jpg">
</body>
</html>