body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(https://i.imgur.com/qz0lDaG.jpg);
  background-repeat: no-repeat;
 background-position:top center;
 background-size: 600px;
 
}

a {
  color: cornflowerblue;
}

* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: cornflowerblue;
}

body > nav {
  grid-area: nav;
  background-color: #B8C0C2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  align-items: center;
}


.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

#new-form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 22rem));
}

#new-form *,  #review-form * {
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
}

table {
  font-size: 20px;
}
table {
  font-size: 20px;
}
table td {
  padding: 10px;
  text-align: center;
}

#list a {
  border-radius: 4px;
  background-color: #B8C0C2;
  padding: 4px;
  text-decoration: none;
  font-size: 14px;
}

#show-page {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
}